.logo {
    display: inline-block;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: 0.25em;
    color: var(--tertiary);
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.icon {
    display: inline-block;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.2em;
    padding: 0.2em;
    transition: background-color 0.2s;
}

.logo:hover .icon {
    display: inline-block;
    background-color: var(--tertiary);
    color: #fff;
    border-radius: 0.2em;
    padding: 0.2em;
}
